
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}


.jumbotron {
	background-image:url(http://www.doubs.travel/uploads/tx_templavoila/background_golf.jpg);
	background-position: right bottom;
	color: #FFF;
}
